<div data-v-d6576b2a="" data-v-29ba524a="" class="block-blog-list-item" data-animation-role="block-element" data-qa="blog-list-item" data-animation-state="active" style="--74783e9f: 22px;">
  <a data-v-d6576b2a="" href="/dicas-de-português-para-o-vestibular" class="block-blog-list-item__cover-image-container" data-qa="blog-list-item-image">
      <div data-v-d6576b2a="" class="block-blog-list-item__cover-image-wrapper">
          <img
              data-v-d6576b2a=""
              class="block-blog-list-item__cover-image"
              alt="{{titulo_artigo}}"
              src="data:image/png;base64,{{capa_artigo}}"
              sizes="(min-width: 920px) 1800px, calc(100vw - 0px)"
          />
      </div>
  </a>
  <p data-v-17a7aef3="" data-v-d6576b2a="" class="categories font-secondary">
      <span data-v-17a7aef3="" style="text-transform: uppercase;" class="categories__item">{{categoria}}</span>
  </p>
  <a data-v-d6576b2a="" class="block-blog-list-item__content" href="/dicas-de-português-para-o-vestibular">
      <h3 data-v-d6576b2a="" class="font-primary block-blog-list-item__title">{{titulo_artigo}}</h3>
      <p data-v-d6576b2a="" class="block-blog-list-item__description font-secondary">
          {{descricao_artigo}}
      </p>
      <div data-v-88ffe988="" data-v-d6576b2a="" class="blog-list-item-meta">
          <div data-v-88ffe988="" class="font-secondary">
              <p data-v-88ffe988="" class="blog-list-item-meta__subtitle">
                  <span data-v-88ffe988="" data-qa="blog-author">{{autor_artigo}}</span>
                  <span data-v-88ffe988="" data-qa="blog-create-date">{{publicacao_artigo}}</span>
              </p>
          </div>
      </div>
  </a>
</div>